<!doctype html>
<html lang="pl" data-bs-theme="light">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} - {{ app_name }}</title>
  <link rel="shortcut icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>

  {{ encore_entry_script_tags('tabler') }}
  {{ encore_entry_link_tags('tabler') }}

  {% block stylesheets %}
  {% endblock %}

  {% block javascripts %}
  {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
