{% extends 'app/layout/base.html.twig' %}

{% block title %}{{ app_meta_title }}{% endblock %}

{% block body %}
  {% import "app/home/partials/articles-list.html.twig" as articlesList %}

  {% include 'app/home/partials/top-category-articles.html.twig' %}

  {% include 'app/widgets/promo_space.html.twig' with {
    'slot': 'GLOWNA_1'
  } %}

  {{ articlesList.horizontal('Najczęściej czytane', mostPopularArticles, 'info') }}

  {% for category in categories %}
    {% if category.isRoot or category.positionOrder == 0 %}
    {% else %}
      {% if loop.index == 3 %}
        <div class="row">
      {% endif %}

      {% if loop.index == 3 or loop.index == 4 %}
        <div class="col-12 col-lg-6">
          {{ articlesList.vertical(
            category,
            articles[category.id],
            category.color
          ) }}
        </div>
      {% endif %}

      {% if loop.index == 4 %}
        </div>
      {% endif %}

      {% if loop.index == 6 %}
        {% include 'app/widgets/promo_space.html.twig' with {
          'slot': 'GLOWNA_2'
        } %}
      {% endif %}

      {% if loop.index > 4 %}
        {% if articles[category.id] %}
          {{ articlesList.horizontal(
            category,
            articles[category.id],
            category.color
          ) }}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endblock %}
