<div class="bottom bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-2 mb-4 mt-md-2 mt-lg-4">
        <h5 class="text-muted">{{ app_name }}</h5>
        <ul class="nav flex-column">
          <li><a class="nav-link" href="http://grajewo24/redakcja.html">Redakcja</a></li>
          <li><a class="nav-link" href="http://grajewo24/wspolpraca.html">Współpraca</a></li>
          <li><a class="nav-link" href="http://grajewo24/reklama.html">Reklama</a></li>
          <li><a class="nav-link" href="http://grajewo24/regulamin-forum.html">Regulamin forum</a></li>
          <li><a class="nav-link" href="http://grajewo24/regulamin-ogloszen.html">Regulamin ogłoszeń</a></li>
          <li><a class="nav-link" href="http://grajewo24/regulamin-katalogu-firm.html">Regulamin katalogu firm</a></li>
          <li><a class="nav-link" href="http://grajewo24/prywatnosc.html">Prywatność</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-4 mt-md-2 mt-lg-4">
        <h5 class="text-muted">Urzędy</h5>
        <ul class="nav flex-column">
          <li><a class="nav-link" href="http://www.grajewo.pl/">Urząd Miasta</a></li>
          <li><a class="nav-link" href="http://www.gminagrajewo.pl/">Urząd Gminy</a></li>
          <li><a class="nav-link" href="http://pupgrajewo.pl/">Powiatowy Urząd Pracy</a></li>
          <li><a class="nav-link" href="http://www.starostwograjewo.pl/">Starostwo Powiatowe</a></li>
          <li><a class="nav-link" href="http://www.um.rajgrod.pl/">UM w Rajgrodzie</a></li>
          <li><a class="nav-link" href="http://radzilow.pl/">UG w Radziłowie</a></li>
          <li><a class="nav-link" href="http://www.szczuczyn.pl/">UM w Szczuczynie</a></li>
          <li><a class="nav-link" href="http://gminawasosz.pl/">UG w Wąsoszu</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-4 mt-md-2 mt-lg-4">
        <h5 class="text-muted">Instytucje</h5>
        <ul class="nav flex-column">
          <li><a class="nav-link" href="http://www.grajewo.policja.gov.pl/">Policja</a></li>
          <li><a class="nav-link" href="http://www.grajewo.straz.bialystok.pl/">Straż Pożarna</a></li>
          <li><a class="nav-link" href="http://www.lograjewo.win.pl/">Zespół Szkół nr 1</a></li>
          <li><a class="nav-link" href="http://zs2.grajewo.pl/">Zespół Szkół nr 2</a></li>
          <li><a class="nav-link" href="http://wojewodzin.win.pl/">Zespół Szkół w Wojewodzinie</a></li>
          <li><a class="nav-link" href="http://www.zsszczuczyn.pl/">Zespół Szkół w Szczuczynie</a></li>
          <li><a class="nav-link" href="http://www.zsnieckowo.com.pl/">Zespół Szkół w Niećkowie</a></li>
          <li><a class="nav-link" href="http://www.mops.grajewo.pl/">MOPS w Grajewie</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3 mb-4 mt-md-2 mt-lg-4">
        <h5 class="text-muted">Miejskie serwisy</h5>
        <ul class="nav flex-column">
          <li><a class="nav-link" href="http://www.mdk.grajewo.pl/">Miejski Dom Kultury</a></li>
          <li><a class="nav-link" href="http://www.maratonka.grajewiak.pl/">Maratonka Grajewo</a></li>
          <li><a class="nav-link" href="http://www.9psk.pl/">Towarzystwo Przyjaciół 9 PSK</a></li>
          <li><a class="nav-link" href="http://gih.grajewo.pl/">Grajewska Izba Historyczna</a></li>
        </ul>
      </div>

      <div class="col-12 col-md-3 mb-3 text-white-50">
        <img src="{{ asset('build/images/logo-light.svg') }}" alt="Logo serwisu" class="mb-3 img-fluid"/>
        <p>Czekamy na Twoje ciekawe wideo, zdjęcia, artykuły. Z chęcią udostępnimy te materiały!</p>

        <h5>Zadzwoń lub napisz</h5>
        <ul class="nav">
          <li>E-mail: <a href="mailto:redakcja@grajewo24.pl" class="link-primary fw-medium">redakcja@grajewo24.pl</a>
          </li>
          <li>Telefon: <a href="tel:604833731" class="link-primary fw-medium">604 833 731</a></li>
          <li>Tel. / Fax: <a href="tel:0862726697" class="link-primary fw-medium">(0 86) 272 66 97</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
