{% include 'app/widgets/infoBox.html.twig' %}

<div class="widget">
  <h3 class="section-title primary"><a href="">Czytelnicy RAPORTują</a></h3>

  <ul class="post-list">
    <li class="item">
      <img class="item-image" src="https://picsum.photos/50/50?2" alt="">
      <div class="item-description">
        <a class="name" href="#">Stłuczka na światłach</a>
        <p class="date-place">15 minut temu</p>
      </div>
    </li>
    <li class="item">
      <div class="item-description">
        <a class="name" href="#">Ktoś wylał pomyje za okno, uważajcie na siebie</a>
        <p class="date-place">23 minuty temu</p>
      </div>
    </li>
    <li class="item">
      <div class="item-description">
        <a class="name" href="#">Odnaleziono psa</a>
        <p class="date-place">2 godziny temu</p>
      </div>
    </li>
    <li class="item">
      <div class="item-description">
        <a class="name" href="#">Zgubiono telefon Samsung w parku</a>
        <p class="date-place">5 godzin temu</p>
      </div>
    </li>
  </ul>
</div>

<div class="widget">
  <h3 class="section-title info"><a href="">Nadchodzące wydarzenia</a></h3>

  <ul class="post-list">
    <li class="item">
      <img class="item-image" src="https://picsum.photos/50/50" alt="">
      <div class="item-description">
        <a class="name" href="#">Konkurs na bimbrownika roku</a>
        <p class="date-place">19.08 // Bimbrownia u Staśka</p>
      </div>
    </li>
    <li class="item">
      <img class="item-image" src="https://picsum.photos/50/50?" alt="">
      <div class="item-description">
        <a class="name" href="#">Sianokosy</a>
        <p class="date-place">23.08 - 30.08 // Polany grajewskie</p>
      </div>
    </li>
    <li class="item">
      <img class="item-image" src="https://picsum.photos/50/50?1" alt="">
      <div class="item-description">
        <a class="name" href="#">Batorzenie Jarka</a>
        <p class="date-place">01.09 // Plac Niepodległości</p>
      </div>
    </li>
    <li class="item">
      <img class="item-image" src="https://picsum.photos/50/50?3" alt="">
      <div class="item-description">
        <a class="name" href="#">Świniobicie</a>
        <p class="date-place">01.09 // Chlewek Marjana</p>
      </div>
    </li>
  </ul>
</div>

<div class="widget">
  <h3 class="section-title success">Dyżurująca apteka</h3>

  <div class="card">
    <p class="fw-medium">Apteka Zdrowaśka</p>
    <span>ul. Zdrowia naszego 66, tel. 512 432 540</span>
  </div>
</div>

<div class="widget">
  <h3 class="section-title warning">Zdjęcie dnia</h3>

  <div class="text-center">
    <p>
      <img class="rounded-1 img-fluid" src="https://picsum.photos/300/168" alt="Opis użytkownika"/>
    </p>
    <p>Ale fajne foto! (Zbychu)</p>
  </div>
</div>

<div class="widget">
  <h3 class="section-title info">Film dnia</h3>

  <div class="text-center">
    <div class="ratio ratio-16x9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/zqLEO5tIuYs?si=9N5vxF1IjF7Qgmqr"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
    <p>Ulubiony kotek! (Andrzej W.)</p>
  </div>
</div>

<div class="widget">
  <h3 class="section-title blue">Ceny paliw</h3>

  <table class="w-100">
    <thead>
    <tr>
      <th></th>
      <th class="text-center">
        <span class="bg-green text-white rounded-1 p-1">95</span>
      </th>
      <th class="text-center">
        <span class="bg-green-dark text-white rounded-1 p-1">98</span>
      </th>
      <th class="text-center">
        <span class="bg-black text-white rounded-1 p-1">ON</span>
      </th>
      <th class="text-center">
        <span class="bg-blue text-white rounded-1 p-1">LPG</span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="border-bottom">
      <td class="py-2">
        <div class="d-flex flex-column">
          <strong>Stacja Pana O.</strong>
          <span class="fs-smaller">ul. Kwietnista 66</span>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center me-1">
          <strong>5.27</strong>
          <span class="fs-smaller text-muted">dziś</span>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center me-1">
          <strong>6.12</strong>
          <span class="fs-smaller text-muted">dziś</span>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center me-1">
          <strong>6.78</strong>
          <span class="fs-smaller text-muted">wczoraj</span>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center me-1">
          <strong>3.15</strong>
          <span class="fs-smaller text-muted">dziś</span>
        </div>
      </td>
    </tr>
    <tr class="border-bottom">
      <td class="py-2">
        <div class="d-flex flex-column">
          <strong>Zielony robak</strong>
          <span class="fs-smaller">ul. Jakiejś Długiej nazwy 123</span>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center">
          <strong>5.31</strong>
          <span class="fs-smaller text-muted">dziś</span>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center">
          <strong>6.06</strong>
          <span class="fs-smaller text-muted">dziś</span>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center">
          <strong title="Brak ceny" class="text-muted">?</strong>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center">
          <strong title="Brak paliwa w ofercie" class="text-muted">x</strong>
        </div>
      </td>
    </tr>
    <tr>
      <td class="py-2">
        <div class="d-flex flex-column">
          <strong>KrzysiekOil</strong>
          <span class="fs-smaller">ul. Paliwowa 1</span>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center">
          <strong>5.23</strong>
          <span class="fs-smaller text-muted">dziś</span>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center">
          <strong title="Brak ceny" class="text-muted">?</strong>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center">
          <strong title="Brak ceny" class="text-muted">?</strong>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center">
          <strong>3.27</strong>
          <span class="fs-smaller text-muted">dziś</span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="widget">
  <h3 class="section-title primary">Kursy walut</h3>

  <div class="d-flex justify-content-between px-3">
    <div class="text-center">
      <p class="mb-2">1 USD</p>
      <span class="fw-bold fs-5 ">4.34 zł</span>
    </div>

    <div class="text-center">
      <p class="mb-2">1 USD</p>
      <span class="fw-bold fs-5 ">4.21 zł</span>
    </div>

    <div class="text-center">
      <p class="mb-2">1 USD</p>
      <span class="fw-bold fs-5 ">5.89 zł</span>
    </div>
  </div>
</div>
