<div class="widget">
  <h3 class="section-title success">Dyżurująca apteka</h3>

  <div class="card">
    {% set todayPharmacyDuty = get_today_pharmacy_duty() %}

    {% if todayPharmacyDuty and todayPharmacyDuty.name %}
      <p class="fw-medium">{{ todayPharmacyDuty.name }}</p>
      <span>{{ todayPharmacyDuty.address }}</span>
    {% else %}
      <p class="m-0">Brak dyżurującej apteki</p>
    {% endif %}
  </div>
</div>
