{% extends 'panel/layout/base.html.twig' %}

{% block title %}Dodawanie nowego użytkownika{% endblock %}

{% block body %}
  <div class="page-body">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h1 class="col card-title fw-bold">Dodawanie nowego użytkownika</h1>

          <a href="{{ path('panel_user_list') }}" class="col-auto btn btn-outline-secondary">
            <i class="ti ti-arrow-back me-1"></i> Powrót do listy
          </a>
        </div>

        <div class="card-body">
          {{ form(userForm) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
