<div class="widget">
  <h3 class="section-title primary"><a href="/category.html">Aktualności</a></h3>

  <div class="row">
    <div class="col-lg-7 mb-3 mb-lg-0">
      <div class="big-news">
        <img class="rounded-1 img-fluid mb-2" src="https://picsum.photos/600/300?big-news-1"
             alt="Opis użytkownika" fetchpriority="high" />

        <h3 class="fs-5">
          <a href="/details.html">Kolejne spotkanie plenerowe Burmistrza z mieszkańcami</a>
        </h3>

        <div class="meta d-flex justify-content-between">
          <div class="date">Niedz, 19 lis. o godz. 12:23</div>
          <div class="comments">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                 stroke-width="2"
                 stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M8 9h8"/>
              <path d="M8 13h6"/>
              <path
                  d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"/>
            </svg>
            19
          </div>
        </div>

        <p>
          Mimo, że cykl spotkań plenerowych Burmistrza z mieszkańcami zakończył się w październiku, jak
          zapowiedział Dariusz Latarowski, będą one organizowane jeżeli będzie taka potrzeba.
        </p>
      </div>
    </div>

    <div class="col-lg-5">
      <div class="small-news d-flex align-items-center">
        <div class="news-image flex-shrink-0">
          <img class="rounded-1 img-fluid mb-2" src="https://picsum.photos/60/60?small-news18"
               alt="Opis użytkownika"/>
        </div>

        <div class="flex-grow-1">
          <h4 class="fs-6">
            <a href="/details.html">Nowi funkcjonariusze w szeregach podlaskiej Policji</a>
          </h4>

          <div class="meta d-flex justify-content-between">
            <div class="date">Niedz, 19 lis. o godz. 9:25</div>
            <div class="comments">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                   stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M8 9h8"/>
                <path d="M8 13h6"/>
                <path
                    d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"/>
              </svg>
              2
            </div>
          </div>
        </div>
      </div>

      <div class="small-news d-flex align-items-center">
        <div class="news-image flex-shrink-0">
          <img class="rounded-1 img-fluid mb-2" src="https://picsum.photos/60/60?small-news28"
               alt="Opis użytkownika"/>
        </div>

        <div class="flex-grow-1">
          <h4 class="fs-6">
            <a href="/details.html">Ściana spadła na samochód</a>
          </h4>

          <div class="meta d-flex justify-content-between">
            <div class="date">Sob, 18 lis. o godz. 23:12</div>
            <div class="comments">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                   stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M8 9h8"/>
                <path d="M8 13h6"/>
                <path
                    d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"/>
              </svg>
              32
            </div>
          </div>
        </div>
      </div>

      <div class="small-news d-flex align-items-center">
        <div class="news-image flex-shrink-0">
          <img class="rounded-1 img-fluid mb-2" src="https://picsum.photos/60/60?small-news38"
               alt="Opis użytkownika"/>
        </div>

        <div class="flex-grow-1">
          <h4 class="fs-6">
            <a href="/details.html">Oświadczenie Dyrektora Szpitala Ogólnego w Grajewie</a>
          </h4>

          <div class="meta d-flex justify-content-between">
            <div class="date">Sob, 18 lis. o godz. 18:17</div>
            <div class="comments">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                   stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M8 9h8"/>
                <path d="M8 13h6"/>
                <path
                    d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"/>
              </svg>
              12
            </div>
          </div>
        </div>
      </div>

      <div class="small-news d-flex align-items-center">
        <div class="news-image flex-shrink-0">
          <img class="rounded-1 img-fluid mb-2" src="https://picsum.photos/60/60?small-news48"
               alt="Opis użytkownika"/>
        </div>

        <div class="flex-grow-1">
          <h4 class="fs-6">
            <a href="/details.html">Szpital w Grajewie pozyskał ponad 800 tys. zł dotacji</a>
          </h4>

          <div class="meta d-flex justify-content-between">
            <div class="date">Sob, 18 lis. o godz. 13:36</div>
            <div class="comments">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                   stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M8 9h8"/>
                <path d="M8 13h6"/>
                <path
                    d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"/>
              </svg>
              6
            </div>
          </div>
        </div>
      </div>

      <div class="small-news d-flex align-items-center">
        <div class="news-image flex-shrink-0">
          <img class="rounded-1 img-fluid mb-2" src="https://picsum.photos/60/60?small-news58"
               alt="Opis użytkownika"/>
        </div>

        <div class="flex-grow-1">
          <h4 class="fs-6">
            <a href="/details.html">Uwaga zmiany w organizacji ruchu drogowego w rejonie grajewskiego cmentarza</a>
          </h4>

          <div class="meta d-flex justify-content-between">
            <div class="date">Sob, 18 lis. o godz. 11:34</div>
            <div class="comments">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                   stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M8 9h8"/>
                <path d="M8 13h6"/>
                <path
                    d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"/>
              </svg>
              6
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
