<div class="row">
  <div class="col-12">
    <div class="top-bar card mb-4 text-muted">
      <div class="row gap-3 align-items-center justify-content-center">
        <div class="col d-none d-xl-block">
          <p class="m-0 pe-3"><strong>Poniedziałek, 20 listopada</strong><br/>Imieniny: <strong>Anatola</strong>,
            <strong>Edyty</strong>
          </p>
        </div>

        <div class="col-auto">
          <div class="d-flex flex-row gap-4">
            <div>
              <span class="d-block text-uppercase text-center fs-smaller">Dziś</span>

              <div class="d-flex align-items-center justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-warning" width="30" height="30"
                     viewBox="0 0 24 24"
                     stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                     stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"/>
                  <path
                      d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"/>
                </svg>
                <strong class="ms-1 text-body">3°C</strong>
              </div>
            </div>

            <div>
              <span class="d-block text-uppercase text-center fs-smaller">Jutro</span>

              <div class="d-flex align-items-center justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-info" width="24" height="24" viewBox="0 0 24 24"
                     stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                     stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M7 18a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7"/>
                  <path d="M11 13v2m0 3v2m4 -5v2m0 3v2"/>
                </svg>
                <strong class="ms-1 text-body">5°C</strong>
              </div>
            </div>
          </div>
        </div>

        <div class="col-auto">
          <div class="d-flex align-items-center">
            <span class="me-1">Jakość powietrza:</span>
            <span class="text-warning" title="bardzo zła">
              <img src="{{ asset('build/images/icons/lungs-off.svg') }}" alt="Ikona przekreślonych płuc" class="icon-red" />
            </span>
          </div>
        </div>

        <div class="col-auto">
          <div class="d-flex align-items-center">
            <span class="me-1">Najbliższa niedziela:</span>
            <span class="text-danger" title="niehandlowa">
              <img src="{{ asset('build/images/icons/shopping-cart-off.svg') }}" alt="Ikona niedostępnego koszyka" class="icon-red" />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
