{% extends 'app/layout/base.html.twig' %}

{% block title %}Dodaj ceny paliw - {{ app_name }}{% endblock %}

{% block topContent %}
  <nav class="mb-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
      <li class="breadcrumb-item active">Dodaj ceny paliw</li>
    </ol>
  </nav>
{% endblock %}

{% block body %}
<h1 class="fs-5 fw-bold mb-4">Prześlij nam dzisiejsze ceny paliw, które znasz</h1>

{% endblock %}
