{% extends 'app/layout/base.html.twig' %}

{% block title %}Podziękowanie za przesłany materiał - {{ app_name }}{% endblock %}

{% block topContent %}
  <nav class="mb-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Strona główna</a></li>
      <li class="breadcrumb-item active">Podziękowanie za przesłany materiał</li>
    </ol>
  </nav>
{% endblock %}

{% block body %}
  <div class="d-flex justify-content-center align-items-center mt-5">
    <img src="{{ asset('build/images/thank_you.svg') }}" alt="Grafika serca" height="150" />

    <div>
      <h1 class="fs-5 fw-bold mb-4">Dziękujemy bardzo za przesłanie materiału</h1>
      <p>Po weryfikacji zostanie on opublikowany w naszym serwisie</p>
    </div>
  </div>

  <hr class="d-block d-md-none my-5"/>
{% endblock %}
