{% extends 'layout/base.html.twig' %}

{% block body %}
    <h1>Lista artykułów z kategorii</h1>

    <a href="{{ path('article_details', {'__category': 'sport', 'id': 30, 'slug': 'heszke-w-meszke'}) }}">Heszle w melke</a>
    <a href="{{ path('article_details', {'__category': 'sport', 'id': 30, 'slug': 'heszke-w-meszke'}) }}">Heszle w melke</a>
{% endblock %}
